            <section class="header header-generic">
                <div class="background"></div>
                <div class="header-content">
                    <h1>{{ site.greeting }}</h1>

                    <div class="profile-picture">
                        <img src="{{ site.email | to_gravatar }}" alt="Victor Fernandez">
                    </div>
                    
                    <nav class="menu">
                        <ul>
                            {% for link in site.navigation %}
                            <li class="item">
                                <a href="{{ link.url }}">{{ link.text }} <span class="icon icon-{{ link.icon }}"></span></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </section>