//
// Breakpoints
//

@break-small: 20em;
@break-small-ls: 28em;
@break-medium: 48em;
@break-medium-ls: 64em;
@break-large: 75em;

//
// Colors
//

@color-green: #479C54;
@color-black: #333333;
@color-lt-grey: #dddddd;
@color-grey: #666666;

//
// Font Weights & Options
//

.font-bold() {
    font-weight: bold;
}
.font-demi() {
    font-weight: 600;
}
.font-normal() {
    font-weight: 400;
}
.font-light() {
    font-weight: 300;
}
.font-tight() {
    letter-spacing: -0.063em;
}